<carousel>
    <slide>
        <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide> 
    <slide>
        <img src="assets/images/hero2.jpg" alt="sec slide" style="display: block; width: 100%;">
    </slide> 
    <slide>
        <img src="assets/images/hero3.jpg" alt="thrd slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center">
        <h1>welcome to she shop</h1>
    </div>
</section>